In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))
import numpy as np
import pandas as pd
import h5py
from tqdm import tqdm
import scipy.io as sio
from scipy import stats
from importlib import reload
from matplotlib import pyplot as plt
import sys
sys.path.append('/home/jma819/post_cmfe_analysis')
#sys.path.append('/Users/johnmarshall/Documents/Analysis/PythonAnalysisScripts/post_cmfe_analysis')
import python_utils_jjm as utils_jjm
import dlc_utils
import caiman
import statsmodels.formula.api as smf
import scipy.spatial.distance as dist
import itertools
import math
import warnings
import numbers
from multiprocessing import Pool
from functools import partial
warnings.filterwarnings(action='once')

/home/jma819/.conda/envs/caiman/lib/python3.6/site-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.decomposition.incremental_pca module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.decomposition. Anything that cannot be imported from sklearn.decomposition is now part of the private API.
  warnings.warn(message, FutureWarning)

In [2]:
data_directory='/projects/p30771/miniscope/analysis/OpenFieldAnalysis/spatial_clusters/jones_script_analysis/data'

In [5]:
##load up jaccard compute outputs
session = 'GRIN026_H16_M35_S34'

cell_jaccards = pd.read_csv(data_directory+'/'+session+'_CellJaccards.csv')
shuffled_cell_jaccards = pd.read_csv(data_directory+'/'+session+'_ShuffledCellJaccards.csv')
normbinned_cell_jaccards = pd.read_csv(data_directory+'/'+session+'_normlBinnedCellJaccards.csv')
normbinned_shuffled_cell_jaccards = pd.read_csv(data_directory+'/'+session+'_normlShuffledBinnedCellJaccards.csv')
proximal_pair_indicies = pd.read_csv(data_directory+'/'+session+'_proximalPairIndices.csv')

In [27]:
cell_jaccards

Empty DataFrame
Columns: [0.11345, 0.09589, 0.038136, 0.05042, 0.030769, 0.048387, 0.043956, 0.21622, 0.021277, 0.05, 0.076233, 0.17021, 0.04878, 0, 0.010453, 0.025237, 0.021898, 0.043307, 0.024096, 0.051136, 0.0040161, 0.025641, 0.0096154, 0.056034, 0.019608, 0.028807, 0.032609, 0.092896, 0.036036, 0.1, 0.086957, 0.013514, 0.11374, 0.033058, 0.040892, 0.0071942, 0.039755, 0.038251, 0.2, 0.13095, 0.0091743, 0.18785, 0.050955, 0.059908, 0.029412, 0.081731, 0.14035, 0.0074627, 0.012146, 0.024096.1, 0.039604, 0.020833, 0.0034014, 0.072961, 0.11732, 0.022364, 0.069182, 0.035354, 0.0051546, 0.10329, 0.0096154.1, 0.067961, 0.02, 0.042654, 0.026012, 0.056338, 0.034483, 0.0098522, 0.078067, 0.09589.1, 0.047904, 0.094276, 0.02649, 0.042254, 0.10442, 0.1336, 0.14458, 0.12462, 0.016949, 0.11386, 0.035857, 0.078431, 0.17225, 0.23874, 0.099291, 0.059322, 0.022727, 0.006192, 0.049563, 0.053512, 0.098901, 0.024735, 0.0091743.1, 0.014235, 0.046512, 0.3, 0.01083, 0.12167, 0.091954, 0.066351, ...]
Index: []

[0 rows x 2775 columns]

In [6]:
shuffled_cell_jaccards

Empty DataFrame
Columns: [0.010565, 0.0099774, 0.0097073, 0.010162, 0.012734, 0.011797, 0.0071472, 0.0092037, 0.0097797, 0.0087234, 0.010168, 0.010832, 0.0089752, 0.01025, 0.011572, 0.012284, 0.010666, 0.010519, 0.009338, 0.0069993, 0.0099521, 0.011726, 0.0083279, 0.0094698, 0.010243, 0.0099529, 0.0069925, 0.007369, 0.0098702, 0.0063553, 0.011943, 0.011626, 0.0094147, 0.010157, 0.010562, 0.010813, 0.012396, 0.0074473, 0.0091083, 0.010829, 0.0089255, 0.008655, 0.0056953, 0.0097452, 0.0097153, 0.0087385, 0.010224, 0.010826, 0.010108, 0.010618, 0.0080869, 0.010072, 0.011845, 0.010037, 0.0081988, 0.011837, 0.0064846, 0.0090029, 0.0080931, 0.0095418, 0.0084155, 0.0094048, 0.010437, 0.0089986, 0.012597, 0.0092267, 0.010438, 0.008381, 0.011765, 0.011701, 0.012462, 0.012231, 0.012416, 0.012612, 0.011374, 0.012279, 0.011918, 0.015479, 0.014722, 0.0079107, 0.010325, 0.011066, 0.0099866, 0.010673, 0.013212, 0.0089744, 0.010822, 0.013633, 0.01443, 0.013136, 0.012604, 0.01154, 0.0081872, 0.011538, 0.012928, 0.009098, 0.011496, 0.011554, 0.011685, 0.0088255, ...]
Index: []

[0 rows x 2775 columns]

In [12]:
proximal_pair_indicies

        2
0       5
1      27
2      34
3      69
4      75
..    ...
140  2707
141  2710
142  2740
143  2752
144  2759

[145 rows x 1 columns]